.footer {
    position: fixed;
    bottom: 0;
    height: 4rem;
    padding: .4rem 0;
    width: 100%;
    background-color: $color-black-light;
    color: $color-white;
    &__heading {
        text-align: center;
    }
}