@mixin clearfix {
    // them vao 1 pseudo ele dang sau 1 ele de tao ra height cho ele bi float
    &::after {
        // bat buoc
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}