// COlor
$color-white: #fff;
$color-grey-dark: #333;
$color-blue-dark: rgb(0, 118, 173);
$color-black-light: #2e3031;
// font size 
$font-size-small: 1.6rem;
$font-size-normal: 2rem;
$font-size-medium: 2.6rem;
$font-size-big: 5.6rem;