.form {
    padding: 5rem 0;
    &__heading {
        font-size: $font-size-big;
        text-align: center;
    }
    &__item {
        margin: auto;
        width: 60%;
        padding: 1rem 0;
    }
}