/* /* Cleaning */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* Change box model => border and padding of box are nolonger added */
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: $font-size-small;
    line-height: 1.7;
    color: $color-grey-dark;
}